body {
  padding: 8px;
}

.RouterHeader {
  padding: 0;
}

.RouterHeader li {
  list-style: none;
  display: inline-flex;
  padding: 0 15px;
}

.Block {
  border: solid 1px black;
  margin: 10px;
  padding: 8px;
  width: 300px;
}

button {
  float: right;
}

input {
  width: 200px;
}

.Unit {
  width: 300px;
}

.List {
  width: 250px;
}

.Headline {
  margin: 8px 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.MainHeader {
  margin: 8px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
}

.SubHeader {
  font-size: 20px;
  font-weight: bold;
}

.User,
.Group {
  display: inline-flex;
}

.Listname {
  font-weight: bold;
  text-decoration: underline;
}

.ErrorMessage {
  color: red;
  font-weight: bold;
}

.AddTo {
  border: solid 1px black;
  margin: 8px 0 0 0;
  padding: 5px;
  width: 287px;
}
